<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let lesson of lessons">
    <span [hidden]="lesson.editing">
      <a [ngClass]="{'active': lesson._id === this.lessonId}"
         class="nav-link" routerLink="/courses/{{this.courseId}}/modules/{{module._id}}/lessons/{{lesson._id}}/topics">
        {{lesson.title}}
        <button (click)="editing(lesson)">
          Edit
        </button>
      </a>
    </span>
    <span [hidden]="!lesson.editing">
            <input [(ngModel)]="lesson.title"/>
            <button (click)="deleteLesson(lesson)">
            Delete
            </button>
            <button (click)="save(lesson)">
              Save
            </button>
    </span>
  </li>
  <li class="nav-item">
    <button (click)="createLesson()">
      Create
    </button>
  </li>
</ul>
