<ul class="nav nav-tabs">
  <li [ngClass]="{'list-group-item-success': lesson._id === this.lessonId}"
      class="list-group-item" *ngFor="let lesson of lessons">
    <span [hidden]="lesson.editing">
      <a routerLink="/courses/{{this.courseId}}/modules/{{module._id}}/lessons/{{lesson._id}}/topics">
        {{lesson.title}}
      </a>
      <button (click)="editing(lesson)">
        Edit
      </button>
    </span>
    <span [hidden]="!lesson.editing">
            <input [(ngModel)]="lesson.title"/>
            <button (click)="deleteLesson(lesson)">
            Delete
            </button>
            <button (click)="save(lesson)">
              Save
            </button>
    </span>
  </li>
  <li class="list-group-item">
    <button (click)="createLesson()">
      Create
    </button>
  </li>
</ul>
