<ul class="list-group">
  <li class="list-group-item active">Modules</li>
  <li [ngClass]="{'list-group-item-success': module._id === this.moduleId}"
    class="list-group-item" *ngFor="let module of modules">
    <span [hidden]="module.editing">
    <a routerLink="/courses/{{this.course._id}}/modules/{{module._id}}/lessons">
      {{module.title}}
    </a>
      <button (click)="editing(module)">
        Edit
      </button>
    </span>
    <span [hidden]="!module.editing">
            <input [(ngModel)]="module.title"/>
            <button (click)="deleteModule(module)">
            Delete
            </button>
            <button (click)="save(module)">
              Save
            </button>
    </span>
  </li>
  <li class="list-group-item">
    <button (click)="createModule()">
      Create
    </button>
  </li>
</ul>
